
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Dashboard</h2>


<div class="card">
    <div class="card-header">
        Dashboard
    </div>
    <div class="card-body">

        <p class="card-text">Welcome to Admin Dashboard.</p>

    </div>
</div>
<hr />
<h1><a href="/Home/Index" class="btn btn-primary">Back to Home Page </a></h1>

