
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card">
    <div class="card-header">
        Orders Active
    </div>
    <div class="card-body">

        <p class="card-text">There are no Active Orders.</p>

    </div>
</div>
<hr />
<h1><a href="/Home/Index" class="btn btn-primary">Back to Home Page </a></h1>