@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Shiiping Store  is a world-leading manufacturer of sailboat hardware, rigging components, sailing wear and accessories created through innovative thought and real-world testing. We offer a full range of yacht and dinghy sailing products including blocks, sheaves, travellers, furlers, rope cleats, stainless steel fittings, sheet and halyard winches and much more. No matter whether you are a racing sailor or offshore cruiser, our global team experience allows us to offer the perfect sailing product solution to meet the needs of you and your boat..</p>
