@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Shipping Store - Marek Woźniak<br />
    Kraków, KRK 30-668<br />
    <abbr title="Phone">Phone:</abbr>
    +48 606-341-979
</address>

<address>
    <strong>Support:</strong>   <a href="ShippingStore@ShippsStore.com">Support@ShippingStore</a><br />
    <strong>Marketing:</strong> <a href="Marketing@ShippsStore.com">Marketing@ShippingStore.com</a>
</address>