@model OnlineShoppingStore.DAL.UserProfile

@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserDashBoard</h2>


<fieldset >
    < legend > User DashBoard < /legend>

@if (Session["UserName"] != null)
{
    <text>
    Welcome @Session["UserName"].ToString() </text>
    

}

 </fieldset>
